Sundial/obj/
Sundial.sln
Sundial/Sundial.csproj.user
Sundial/Sundial.csproj
Sundial/.vs/config/applicationhost.config
Sundial/.vs/Sundial/v15/sqlite3/storage.ide
Sundial/.vs/Sundial/v15/.suo
.vs/config/applicationhost.config
.vs/Sundial/v15/sqlite3/storage.ide
.vs/Sundial/v15/.suo
.vs/Sundial/v15/Server/sqlite3/db.lock
.vs/Sundial/v15/sqlite3/db.lock
.vs/Sundial/v15/Server/sqlite3/storage.ide
